#map path {
    stroke-width: 0.3;
    stroke:#2B2B2B;
  }

 #map path:hover {
    fill: #07918A;
  }

#map .nav_map{
    position: absolute;
    text-align: center;
    width: 150px;
    min-height: 160px;
    padding: 2px;
    font: 12px;
    background: #c0e3f2;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-weight:900;  
  }